.App {
  text-align: center;
  display: flex;
  background-image: url(./oriental-tiles.png);
  height: 100vh;
  font-family: monospace;
  font-size: larger;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.completed{
  color: blanchedalmond;
  text-decoration: line-through;
  text-decoration-color:whitesmoke;
}

.list{
  color: blanchedalmond;
  cursor: pointer;
}  
  

.todolist{
width:49%;

}
.todoform{
  width:49%;
  padding-top:45px;
  }
  form{
    display: flex;
    justify-content: space-evenly;
  }
  form input{
    width:200px;
  }
  form button{
    height: 30px;
    width: 26%;
    border-radius: 5px;
    
    background-color: blanchedalmond;
    color: midnightblue;
  }